In [3]:
# import python libraries

import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt # visualizing data
%matplotlib inline
import seaborn as sns

In [5]:
# import csv file
df = pd.read_csv('sales_data_sample.csv', encoding= 'unicode_escape')

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500 entries, 0 to 1499
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Order_ID          1500 non-null   object
 1   Order_Date        1500 non-null   datetime64[ns]
 2   Customer_Name     1500 non-null   object
 3   Customer_City     1500 non-null   object
 4   Product_Category  1500 non-null   object
 5   Product_Name      1500 non-null   object
 6   Quantity          1500 non-null   int64
 7   Unit_Price        1500 non-null   float64
 8   Payment_Method    1500 non-null   object
 9   Total_Price       1500 non-null   float64
dtypes: datetime64[ns](1), float64(2), int64(1), object(6)
memory usage: 117.3+ KB

In [18]:
df['Order_Date'] = pd.to_datetime(df['Order_Date'])

In [7]:
df.shape

(1500, 10)

In [9]:
df.head(10)

,Order_ID,Order_Date,Customer_Name,Customer_City,Product_Category,Product_Name,Quantity,Unit_Price,Payment_Method,Total_Price
0,fde82797-d400-4414-8cc8-e7b6d916eef4,2023-08-04,Christina Smith,South Paulchester,Home Appliances,Laptop,5,750.61,Cash on Delivery,3753.05
1,d380b3a1-7503-4870-a797-94feb81d1c78,2023-08-04,Jillian Hammond,East Elizabeth,Home Appliances,T-Shirt,7,487.46,Net Banking,3412.22
2,03507640-bbdf-4905-935b-8bfb8f538650,2023-08-04,Ronnie Benson,East Brittneyhaven,Books,Headphones,6,169.37,Net Banking,1016.22
3,5ce2c745-f00c-4bb6-be91-cf100d284e09,2023-08-05,Jesse Cooke,Paulburgh,Home Appliances,Headphones,10,369.66,Net Banking,3696.60
4,0eafd4a7-a216-4e7a-a7d6-5531d9338016,2023-08-06,Shannon Baker,Estradashire,Electronics,Novel,1,108.38,Cash on Delivery,108.38
5,ed032085-1b26-4098-86be-17c271263f0c,2023-08-06,Anthony Simmons,Port Stephanieton,Home Appliances,Laptop,8,172.94,Debit Card,1383.52
6,fa4a442a-9ecd-40db-962d-8017866e929d,2023-08-07,Dustin Nicholson,Ianville,Home Appliances,T-Shirt,1,741.61,Net Banking,741.61
7,abacc60c-0c1a-4c9e-9489-963b6a42a1c0,2023-08-09,Michael Dixon,Huangside,Home Appliances,Refrigerator,3,417.29,Debit Card,1251.87
8,37117244-9d75-4ec2-9fc8-7b8a310cb65a,2023-08-10,Colton Smith,Gregoryside,Books,Tablet,4,486.44,UPI,1945.76
9,21548230-140d-4d5c-b221-d031edb52678,2023-08-10,Kristen Park,Antonioville,Home Appliances,Smartphone,2,316.08,Debit Card,632.16

In [10]:
#check for null values
pd.isnull(df).sum()

Order_ID            0
Order_Date          0
Customer_Name       0
Customer_City       0
Product_Category    0
Product_Name        0
Quantity            0
Unit_Price          0
Payment_Method      0
Total_Price         0
dtype: int64

In [11]:
# describe() method returns description of the data in the DataFrame (i.e. count, mean, std, etc)
df.describe()

          Quantity   Unit_Price  Total_Price
count  1500.000000  1500.000000  1500.000000
mean      5.423333   511.069373  2767.673200
std       2.828920   286.889811  2278.984609
min       1.000000    10.880000    25.680000
25%       3.000000   254.102500   863.492500
50%       5.000000   534.355000  2138.760000
75%       8.000000   755.932500  4200.320000
max      10.000000   999.830000  9997.800000

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500 entries, 0 to 1499
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Order_ID          1500 non-null   object
 1   Order_Date        1500 non-null   datetime64[ns]
 2   Customer_Name     1500 non-null   object
 3   Customer_City     1500 non-null   object
 4   Product_Category  1500 non-null   object
 5   Product_Name      1500 non-null   object
 6   Quantity          1500 non-null   int64
 7   Unit_Price        1500 non-null   float64
 8   Payment_Method    1500 non-null   object
 9   Total_Price       1500 non-null   float64
dtypes: datetime64[ns](1), float64(2), int64(1), object(6)
memory usage: 117.3+ KB

In [21]:
df.duplicated().any()

np.False_

In [22]:
df.duplicated(subset=['Order_ID'])

0       False
1       False
2       False
3       False
4       False
        ...
1495    False
1496    False
1497    False
1498    False
1499    False
Length: 1500, dtype: bool